@{
    ViewData["Title"] = "Home";
}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="mr-4">
        <img src="~/images/me.jpg" alt="David's Profile Picture" style="width: 250px;" />
    </div>
</div>
<div class="text-center mt-5 py-5" style="background-color: lightgrey;">
    <h2 class="display-4 fw-bold">Hi, I am David!</h2>
    <p class="lead mt-4 mx-auto">
        I recently graduated from East Tennessee State University with a Bachelor of Science in Computer Science, focusing on 
        becoming a software developer. I am passionate about creating impactful, user-focused applications. 
        With experience in C#, .NET, and CI/CD practices, I excel at developing efficient and reliable solutions. 
        My tech journey began with a fascination for problem-solving, which has evolved into a fulfilling career 
        where I turn ideas into reality through code. I am always enthusiastic about exploring new technologies and tackling new challenges.
    </p>
    <button class="button" style="vertical-align:middle" onclick="window.location.href='@Url.Action("Contact","Home")'">
        <span>Contact </span>
    </button>
</div>
