@{
    ViewData["Title"] = "Projects";
}

<div class="projects-container">
    <h2 class="projects-header">My Projects</h2>
    <div class="projects-grid">
        <div class="project-item">
            <div class="project-preview" onclick="toggleProjectDetails('project1')">
                <img src="~/images/BucStop.png" alt="BucStop Project Thumbnail" />
            </div>
            <div id="project1" class="project-details">
                <h3>BucStop Project</h3>
                <p>
                    BucStop is a website that provided ETSU students with classic arcade games to play while waiting
                    for class. My main role was a developer while also working on the CI/CD side of things
                    with the website. My contributions included making a fully automated CI/CD Pipeline where it would
                    test the devs code automatically then automatically build the website with Docker. Technologies used:
                    HTML, C#, Python, AWS, Docker, bash.
                </p>
            </div>
        </div>
        <div class="project-item">
            <div class="project-preview" onclick="toggleProjectDetails('project2')">
                <img src="~/images/SignWiz.png" alt="SignWiz App Project Thumbail" />
            </div>
            <div id="project2" class="project-details">
                <h3>SignWiz App</h3>
                <p>
                    SignWiz is your place if you want to learn sign language by taking quizzes and doing interactive games.
                    Technologies used: HTML, C#, CSS, JavaScript.
                </p>
            </div>
        </div>
        <!-- Add more project items as needed -->
        <div class="project-item">
            <div class="project-preview" onclick="toggleProjectDetails('project3')">
                <img src="~/images/BucHunt.png" alt="BucHunt Project Thumbail" />
            </div>
            <div id="project3" class="project-details">
                <h3>BucHunt Project</h3>
                <p>
                    BucHunt is a scavenger hunt based game to get new students at ETSU familiar with the campus
                    while having some fun exploring the beautiful area.
                    Technologies used: HTML, C#, CSS, JavaScript, SQL.
                </p>
            </div>
        </div>
        <div class="project-item">
            <div class="project-preview" onclick="toggleProjectDetails('project4')">
                <img src="~/images/me.jpg" alt="SignWiz App Project Thumbail" />
            </div>
            <div id="project4" class="project-details">
                <h3>Testing</h3>
                <p>
                    Test
                </p>
            </div>
        </div>
    </div>
</div>
