@{
    ViewData["Title"] = "Socials";
}

<div class="socials-container">
    <h2 class="socials-header">Connect with Me</h2>
    <p>You can find me on these platforms! Don't hesitate to reach out.</p>
    <ul class="socials-list">
        <li>
            <a href="https://github.com/davidedwards-12">
                <span class="social-icon github"></span> GitHub
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/davidmedwards12">
                <span class="social-icon linkedin"></span> LinkedIn
            </a>
        </li>
        <li>
            <a href="https://x.com/davidedwards_12">
                <span class="social-icon twitter"></span> X/Twitter
            </a>
        </li>
    </ul>
</div>